.btn {
    padding: rem(8px) rem(8px);
    background: $red;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: rem(5px);
    color: #fff;
    display: inline-flex; //не растягивается на всю ширину
    margin-left: rem(15px);
}