.hamburger-link {
    vertical-align: middle;
    position: relative;
    height: rem(22px);
    align-items: center;
    margin-left: rem(30px);
    display: none;

    @include tablets() {
        display: flex;
        margin-left: rem(38px);
        margin-right: rem(-10px);
    }
    @include phones() {
        margin-left: rem(40px);
        height: rem(28px);
    }


}

.hamburger-link_bars {
    &, &:before, &:after {
        background: #fff;
        width: rem(24px);
        height: rem(5px);
        border-radius: rem(3px);
    }
    @include phones() {
        &, &:before, &:after {
            width: rem(30px);  
        }
    }

.hamburger-link_bars-hidden {
    &:before, &:after {
        position: absolute;
        left: 15px;
        content: '';
        height: 260px;
        width: 4px;
        background-color: #fff;
        border-radius: 3px;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}

&:before, &:after {
    content: "";
    display: block;
    position: absolute;
}

&:before {
    top: 0;
}

&:after {
    bottom:0;
}
}