.section-title {
    @include gagalin();
    font-size: rem(72px);
    color: $yellow;
    &_color_black {
        color: $black;
    }
    &_color_white {
        color: #fff;
    }
    @include tablets() {
        font-size: rem(76px);
    }
}