.best {
    background: url('../img/bg/best_bg.png') center center no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: flex-start;
    padding-top: rem(50px);
}


.best__list {
    margin-top: rem(67px);
    align-items: center;
    justify-content: space-between;
    display: flex;
    @include phones() {
        flex-direction: column;
    }
}

.best__item {
    //margin: 0 rem(10px);
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    width: 31%;
    //flex: 1;
    @include phones() {
        flex-direction: row;
    }
}

.best__pic {
    height: rem(90px);
    

}

.best__icon {
    max-height: 100%;
    max-width: 100%;
}

.best__title {
    margin-top: rem(30px);
    font-size: rem(24px);
    @include lifehack();
}

.best__desc {
    padding-top: rem(8px);
    font-size: rem(14px);
    line-height: 1.8;
    @include ubuntu(light);

    @include phones() {
        text-align: left;
    }
}
