.best {
    background: url('../img/bg/best_bg.png') center center no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: flex-start;
}

.container {
    margin-top: rem(50px);
}

.best__list {
    margin-top: rem(50px);
    display: flex;

    @include phones() {
        flex-direction: column;
    }
}

.best__item {
    //margin: 0px 150px;
    flex: 1;
    margin-left: 2%;

    @include phones() {
        flex-direction: row;
    }
}

.best__pic {
    height: rem(90px);
}

.best__icon {
    height: 100%;
    width: 100%;
}

.best__title {
    margin-top: 10%;
    font-size: rem(24px);
    @include lifehack();
}

.best__desc {
    font-size: rem(14px);
    @include ubuntu(light);

    @include phones() {
        text-align: left;
    }
}
