.best {
    background: url('../img/bg/best_bg.png') center center no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: flex-start;
}

.best__list {
    display: flex;
}

.best__item {
    margin: 0px 15px;
    flex: 1;
}

.best__pic {
    height: 90px;
}

.best__icon {
    height: 100%;
    width: 100%;
}