.burgers {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9b43b), color-stop(40%, #eb8c38), color-stop(60%, #eb8c38), color-stop(0, #eb8c38), to(#f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background: -o-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b); 
} 

.burgers__container {
  height: 80%;
  margin: auto rem(5px);
//  border: 1px solid black;
  display: flex;
}

.burgers__left {
  width:5%;
//  border: 1px solid red;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

.burgers__main {
  width:90%;
//  border: 1px solid red;
  display: flex;

}

.burgers__right {
  width:5%;
//  border:  1px solid red;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}

.burgers__slider-left {
  margin-right: rem(-8px);
}

.burgers__slider-right {
  margin-left: rem(-8px);
}

.burgers__arrow-icon {
  width: rem(26px);
  height: rem(16px);
  fill: #fff;
}

.burgers__arrow-icon_left {
  transform: rotate(90deg);
}

.burgers__arrow-icon_right {
  transform: rotate(-90deg);
}

.burgers__column {
  width: 50%;
//  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

}

.burgers__preview-img {
  background-size: contain;
  max-width:rem(505px);
  max-height: rem(329px);
  margin: auto;
  margin-left: rem(-15px);
}

.burgers__contain {
  position: absolute;
  top: rem(19px);
  left: rem(20px);
  width: rem(90px);
  height: rem(90px);
  background-color: #f08c33;
  border-radius: rem(3px);
  @include gagalin();
  font-size: rem(14px);
  &:hover {
    background-color: #e35028;
    transition-duration: 0.4s;
  }
}

.wrapper__contain {
  position: absolute;
  left: rem(88px);
  top: rem(2px);
  width: rem(270px);
  height: rem(332px);
  background-color: #fff;
  border-radius: rem(4px);
  opacity: 0.9;
  //display: none;
}

.burgers__kkal {
  position:absolute;
  bottom: rem(8px);
  left: rem(18px);
  width: rem(90px);
  height: rem(90px);
  @include gagalin();
  font-size: rem(14px);
}

.contain__list {
  left: rem(0px);
}

.contain__item {
  display: flex;
  margin-top: rem(-10px);
  justify-content: space-between;
  align-items: center;
  @include ubuntu(medium);
  font-size: rem(14px);
  &:first-child{
    margin-top: 0;
  }
}

.contain__item_caption {
  margin-top: rem(15px);
 //  margin-left: rem(-65px)
}

.contain__item_weight {
  margin-top: rem(15px);
  margin-right: rem(15px)
}

.contain__link {
  text-decoration: none;
  
}

.contain__icon {
  width: rem(46px);
  height: rem(44px);
  margin-left: rem(20px);
  margin-top: rem(17px);

}

.kkal__icon {
  width: rem(60px);
  height: rem(60px);
  
}

.kkal-icon__numb {
  position: absolute;
  left: rem(12px);
  bottom: rem(38px);
  font-size: rem(20px);
  color: #f9d09d;
}

.kkal-icon__text {
  position: absolute;
  left: rem(14px);
  bottom: rem(10px);
  font-size: rem(14px);
  color: #f9d09d;
}

.contain__label {
  margin-left: rem(20px);
  color: #fff;
}


.burgers__caption {

  margin-top: rem(10px);
  line-height: 0.9;
  color: #fff;
}

.burgers__text {
  font-size: rem(14px);
  line-height:1.7;
  color: #fff;
}

.burgers__row {
  //margin-top: rem(45px);
  margin-left: rem(10px);
  margin-bottom: rem(45px);
}

.burgers__order {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-left: rem(-150px);
  margin-top: rem(-40px);
}

.burgers__price {
  @include gagalin();
  font-size: rem(72px);
  color: #e35028;
}

.burgers__rub {
  @include gagalin();
  font-size: rem(30px);
  color: #e35028;
  margin-right: rem(25px);
}
