.burgers {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9b43b), color-stop(40%, #eb8c38), color-stop(60%, #eb8c38), color-stop(0, #eb8c38), to(#f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background: -o-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b); 
} 

.burgers__container {
  height: 97%;
  margin: auto rem(5px);
//  border: 1px solid black;
  display: flex;
  @include phones() {
    width: 100%;
    margin: auto 0;
  }
}

.burgers__left {
  width:5%;
//  border: 1px solid red;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  @include phones() {
    width: 10%;
  }
}

.burgers__main {
  width:90%;
//  border: 1px solid red;
  display: flex;
  @include tablets() {
    flex-direction: column;   
}
  @include phones() {
    width: 80%;
    margin-top: rem(180px);
  }

}

.burgers__right {
  width:5%;
//  border:  1px solid red;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  @include phones() {
    width: 10%;
  }
}

.burgers__slider-left {
  margin-right: rem(-8px);
  @include tablets() {
    margin-right: rem(-25px);
  }
}

.burgers__slider-right {
  margin-left: rem(-8px);
  @include tablets() {
    margin-left: rem(-4px);
  }
}

.burgers__arrow-icon {
  width: rem(26px);
  height: rem(16px);
  fill: #fff;
}

.burgers__arrow-icon_left {
  transform: rotate(90deg);
}

.burgers__arrow-icon_right {
  transform: rotate(-90deg);
}

.burgers__column {
  width: 50%;
//  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  @include tablets() {
    width: 90%;
    //margin-top: rem(115px);

}

}

.burgers__preview {
  background-size: contain;
  max-width:rem(505px);
  max-height: rem(329px);
  margin: auto;
  margin-left: rem(-15px);
  @include tablets() {
    margin-left: rem(85px);
    margin-top: rem(115px);
    //margin: auto;   
  }
  @include phones() {
    margin: 0;
    margin-left: rem(70px);
    width: rem(500px);
  }
}

.burgers__preview-img {
  width: 100%;
}

.burgers__contain {
  position: absolute;
  top: rem(19px);
  left: rem(20px);
  width: rem(90px);
  height: rem(90px);
  background-color: #f08c33;
  border-radius: rem(3px);
  @include gagalin();
  font-size: rem(14px);
  &:hover {
    background-color: #e35028;
    transition-duration: 0.4s;
  }
  @include tablets() {
    top: rem(35px);
    left: rem(112px);
    width: rem(95px);
    height: rem(95px);
  }
  @include phones() {
    top: rem(-133px);
    left: rem(-46px);
    width: rem(110px);
    height: rem(110px);
  }
}

.wrapper__contain {
  position: absolute;
  left: rem(88px);
  top: rem(2px);
  width: rem(270px);
  height: rem(332px);
  background-color: #fff;
  border-radius: rem(4px);
  opacity: 0.9;
  //display: none;
  @include phones() {
    display: none;
  }
}

.burgers__kkal {
  position:absolute;
  bottom: rem(8px);
  left: rem(18px);
  width: rem(90px);
  height: rem(90px);
  @include gagalin();
  font-size: rem(14px);
  @include tablets() {
    top: rem(35px);
    left: auto;
    right: rem(-5px);
  }
  @include phones() {
    top: rem(-132px);
    right: rem(-128px);
  }
}

.contain__list {
  left: rem(0px);
}

.contain__item {
  display: flex;
  margin-top: rem(-10px);
  justify-content: space-between;
  align-items: center;
  @include ubuntu(medium);
  font-size: rem(14px);
  &:first-child{
    margin-top: 0;
  }
}

.contain__item_caption {
  margin-top: rem(15px);
 //  margin-left: rem(-65px)
}

.contain__item_weight {
  margin-top: rem(15px);
  margin-right: rem(15px)
}

.contain__link {
  text-decoration: none;
  
}

.contain__icon {
  width: rem(46px);
  height: rem(44px);
  margin-left: rem(20px);
  margin-top: rem(17px);
  @include phones() {
    width: rem(56px);
    height: rem(54px);
    margin-left: rem(30px);
    margin-top: rem(17px);
  }

}

.kkal__icon {
  width: rem(60px);
  height: rem(60px);
  @include phones() {
    width: rem(70px);
    height: rem(70px);
  }
}

.kkal-icon__numb {
  position: absolute;
  left: rem(12px);
  bottom: rem(38px);
  font-size: rem(20px);
  color: #f9d09d;
  @include phones() {
    font-size: rem(26px);
    margin-bottom: rem(-10px);
  }
}

.kkal-icon__text {
  position: absolute;
  left: rem(14px);
  bottom: rem(10px);
  font-size: rem(14px);
  color: #f9d09d;
  @include phones() {
    font-size: rem(16px);
    margin-bottom: rem(-15px);
  }
}

.contain__label {
  margin-left: rem(20px);
  color: #fff;
  @include phones {
    margin-left: rem(27px);
    font-size: rem(17px);
  }
}

.burgers__row {
  //margin-top: rem(45px);
  margin-left: rem(10px);
  margin-bottom: rem(45px);
  @include tablets() {
    text-align: center;
    margin-left: rem(80px);
  }
  @include phones() {
    margin: 0;
  }
}

.burgers__caption {
  margin-top: rem(10px);
  line-height: 0.9;
  color: #fff;
  @include tablets() {
    margin-top: rem(65px);    
  }
  @include phones() {
    margin-top: rem(15px);
    margin-left: rem(65px);
    font-size: rem(60px);
    line-height: 1.25;

  }
}

.burgers__text {
  font-size: rem(14px);
  line-height:1.7;
  color: #fff;
  @include tablets {
    margin-top: rem(-20px);
    font-size: rem(15px);
    margin-left: 0;
    padding-left: rem(61px);
    margin-bottom: rem(20px);
  }
  @include phones() {
    width: rem(580px);
    padding: 0;
    margin-left: rem(40px);
    padding-left: rem(20px);
    margin-top: rem(15px);
    font-size: rem(17px);
    line-height: 1.8;
  }
}


.burgers__order {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-left: rem(-150px);
  margin-top: rem(-40px);
  @include tablets() {
    margin-left: rem(80px);
    margin-top: 0;
  }
  @include phones() {
    margin-top: rem(-15px);
    margin-left: rem(55px);
  }
}

.burgers__price {
  @include gagalin();
  font-size: rem(72px);
  color: #e35028;
  @include tablets() {
    font-size: rem(76px);
  }
  @include phones() {
    font-size: rem(60px);
  }
}

.burgers__rub {
  @include gagalin();
  font-size: rem(30px);
  color: #e35028;
  margin-right: rem(25px);
  @include tablets() {
    font-size: rem(32px);
  }
  @include phones() {
    margin-left: rem(5px);
    margin-right: rem(40px);
    font-size: rem(30px); 
  }
}
