.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts__map {
    background: url('../img/bg/contacts_bg.jpg')  no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    padding-bottom: rem(64px);
}


.social__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 18px;
}

.social__item-vk {
    background: url(../img/sprite/sprite.svg#vk) center center no-repeat;
    background-size: cover;
}

.social__item-fb {
    background: url(../img/sprite/sprite.svg#vk) center center no-repeat;
    background-size: cover;
}

.social__item-inst {
    background: url(../img/sprite/sprite.svg#vk) center center no-repeat;
    background-size: cover;
}

.social__item-tw {
    background: url(../img/sprite/sprite.svg#vk) center center no-repeat;
    background-size: cover;
}


.footer {
    background-color: #000;
    height: rem(64px);
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include phones {
    flex-direction: column;
  }
}

.footer__contacts {
  width: 50%;
  @include phones {
  width: 100%;
  //text-align: left;
  }
}

.footer__address {
    padding-top: rem(6px);
    padding-left: rem(80px);
    margin-bottom: rem(3px);
    color: #fff;
    font-size: rem(14px);
}

.footer__phone {
    padding-left: rem(81px);
    color: $red;
    @include ubuntu(bold);
    text-decoration: none;
    font-size: rem(14px);
}

.phone-icon {
  width: rem(10px);
  height: rem(10px);
  margin-right: rem(5px);
}

.footer__social {
  margin-top: rem(10px);
  margin-left: rem(315px);
  @include phones {
    justify-content: center;
  }
}

.social__list {
  position: relative;
  top: 50%;
}

.social__item {
  margin-left: rem(15px);
}

.social__link {
  display: inline-block;
  max-width: rem(23px);
  max-height: rem(20px);
  opacity: .3;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}

.social__link-icon {
  width: rem(20px);
  height: rem(20px);
}