.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
//    background: url(../img/bg/contacts_bg.jpg)  center center no-repeat;
    background-size: cover;
    position: relative;
    //padding-bottom: rem(64px);
}

.contacts__map {
    height: 100%;
    //background: red;  
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../img/bg/footer.jpg) no-repeat;
    background-size: cover;
    height: rem(58px);
    @include tablets() {
      height: rem(58px);
    }
    @include phones() {
      height: rem(142px);
    }
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include phones {
    flex-direction: column;
    height: rem(142px);
  }
}

.footer__contacts {
  width: 50%;
  @include phones {
  width: 100%;
  }
}

.footer__address {
    padding-top: rem(6px);
    padding-left: rem(80px);
    margin-bottom: rem(3px);
    color: #fff;
    font-size: rem(14px);
    @include tablets() {
      padding-left: rem(25px);
      font-size: rem(15px);
    }
    @include phones() {
      text-align: center;
      font-size: rem(17px);
      margin-top: rem(15px);
    }
}

.footer__phone {
    padding-left: rem(81px);
    color: $red;
    @include ubuntu(bold);
    text-decoration: none;
    font-size: rem(14px);
    @include tablets() {
      margin-left: rem(-55px);
      font-size: rem(15px);
    }
    @include phones() {
      margin-left: rem(130px);
      font-size: rem(17px);
    }
    @include miniphones() {
      margin: auto;  
    }
}

.phone-icon {
  width: rem(10px);
  height: rem(10px);
  margin-right: rem(5px);
}

.footer__social {
  width: 50%;
  text-align: right;
  padding-right: rem(75px);
  padding-top: rem(10px);
  @include tablets() {
    padding-right: rem(5px);
  }
  @include phones() {
    justify-content: center;
    padding-top: rem(20px);
    padding-right: rem(50px);
  }
  @include miniphones() {
    padding-top: 0;
  }
}

.social__list {
  position: relative;
  top: 50%;
}

.social__item {
  margin-left: rem(15px);
}

.social__link {
  display: inline-block;
  max-width: rem(23px);
  max-height: rem(20px);
  opacity: .3;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
  @include phones() {
    width: rem(30px);
    height: rem(27px);
  }
}

.social__link-icon {
  width: rem(20px);
  height: rem(20px);
  @include phones() {
    width: rem(25px);
    height: rem(25px);
  }
}

.social__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 18px;
}

.social__item-vk {
    background: url(../img/sprite/sprite.svg#vk) center center no-repeat;
    background-size: cover;
}

.social__item-fb {
    background: url(../img/sprite/sprite.svg#vk) center center no-repeat;
    background-size: cover;
}

.social__item-inst {
    background: url(../img/sprite/sprite.svg#vk) center center no-repeat;
    background-size: cover;
}

.social__item-tw {
    background: url(../img/sprite/sprite.svg#vk) center center no-repeat;
    background-size: cover;
}


