.hero {
    background: url('../img/bg/hero_bg.png') center center no-repeat;
    background-size: cover;
}

.hero__wrapper {
    height: 80%;
}

.header {
    display: flex;
    align-items: flex-start;//flex-start
    justify-content: flex-end;    
    padding-top: 2.5%

}

.header__btns {
    display: flex;
    align-items: center;

}

.logo {
    margin-right: auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    
    &:last-child {
        &:after {
            display:none;
        }
    }

    &:after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        margin: 0 16px;
    }
}

.nav__link {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;//чтобы исчезли подчеркивания
}

.hero__present {
    display:flex;
    flex-flow: row no-wrap;
    align-items: flex-end;
    padding-bottom: 9%;
    padding-left: 4%;
}

.hero__desc {
    color: #fff;
    font-size: 65px;
    @include lifehack();
    line-height: 1;
    padding-bottom: 15%
}

.hero__image-pic {
    max-width: 100%;
}

.hero__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.arrow-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    height: 20px;
}



.arrow-icon {
    height: 100%;
    width: 100%;
}
