.hero {
    background: url('../img/bg/hero_bg.png') center center no-repeat;
    background-size: cover;
    position: relative;
    @include tablets() {
        margin-left: rem(3px);
    }
}

.hero-hidden {
    background: #2f3233;    
}

.hero>.container {
    @include tablets() {
        margin-top: rem(20px);
    }
}

.hero>.container-hidden {
    visibility: hidden;
}


.header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;    
    padding-top: rem(30px);
    @include tablets() {
        padding-top: rem(10px);
        justify-content: flex-start;
    }

}

.logo {
    margin-left: rem(-6px);
    margin-right: auto;
    margin-top: rem(-20px);
    visibility: visible;
    @include tablets() {
        margin-left: 0;
    }

}

.header__btns {
    display: flex;
    align-items: center;
    margin-right: 0.1rem;
    padding-bottom: rem(8px);
}

.nav {
    @include tablets() {
        display: none;
    }
}

.nav-hidden {
    visibility: visible;
    display:block;
    position: absolute;
    left: 20%;
    top: 26%;
    width: 60%;
}

.nav__list {
    display: flex;
    align-items: center;
    margin-right: rem(13px);
}

.nav__list-hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.nav__item {
    display: flex;
    align-items: center;
    
    &:last-child {
        &:after {
            display:none;
        }
    }

    &:after {
        content: "";
        display: block;
        width: rem(4px);
        height: rem(4px);
        background: #fff;
        border-radius: 50%;
        margin: 0 rem(15.5px);
    }
}

.nav__item-hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav__link {
    color: #fff;
    font-size: rem(13px);
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;//чтобы исчезли подчеркивания
    &:hover{
        text-decoration: underline;
        color: $red;
    }
}

.nav__link-hidden {
    @include tablets() {
        font-family: 'Ubuntu';
        font-size: 24px;
        line-height: 80px;
    }
    @include phones() {
        font-family: 'Ubuntu';
        font-size: rem(24px);
        line-height: rem(80px);
    }
}

.header__portable {
    display: flex;
    align-items: center;
    @include phones() {
        margin-top: rem(6px);
        margin-right: rem(-2px);
    }
}

.hero__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    @include tablets() {
        margin-top: rem(-40px);
    @include phones() {
        margin-top: 0;
    }
    }
}

.hero__present {
    display:flex;
    align-items: flex-end;
    padding-bottom: rem(93px);
    padding-left: rem(15px);
    @include tablets() {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
        padding-left: 0;
        padding: 1.5% 20%;    
    @include phones() {
        padding: 0;
    }
    }
}

.hero__image {
    width: rem(620px);
    @include tablets() {
        width: rem(480px);
        margin-left: rem(20px);
        margin-bottom: rem(10px);
        float: none;
    }
    @include phones() {
        width: rem(450px);
        margin-left: rem(20px);
    }
    @include miniphones() {
        width: rem(350px);
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    @include tablets() {
        text-align: center;
    }
    @include phones() {
        margin-top: rem(20px);
    }
}

.hero__title {
    padding-left: rem(12px);
    @include tablets() {
        font-size: rem(75px);
        margin-bottom: rem(5px);
    }
    @include miniphones() {
        font-size: rem(60px);
    }
}

.hero__desc {
    color: #fff;
    font-size: rem(62px);
    @include lifehack();
    line-height: 1;
    margin-top: rem(10px);
    padding-bottom: rem(69px);
    padding-left: rem(15px);
    @include tablets() {
        font-size: rem(65px);
    }
    @include phones() {
        margin-top: 0;
    }
    @include miniphones() {
        font-size: rem(50px);
    }
}

.hero__image_pic {
    width: 100%;
    height: 100%;
}

.arrow-btn {
    display: flex;
    justify-content: center;
    margin-bottom: rem(40px);
    height: rem(15px);
    @include tablets() {
        margin-left: rem(20px);
    }
}

.hero>.arrow-btn-hidden {
    visibility: hidden;
}


.arrow-icon {
    height: 100%;
    width: 100%;
}
