.hero {
    background: url('../img/bg/hero_bg.png') center center no-repeat;
    background-size: cover;
    position: relative;
}

.hero__wrapper {
  //  height: 80%;
}

.header {
    display: flex;
    align-items: center;//flex-start
    justify-content: flex-end;    
    padding-top: 0.6rem;
    //margin-left: -0.2rem; 
    @include tablets() {
        padding-top: 0;
        justify-content: flex-start;
    }

}

.logo {
    margin-left: rem(-6px);
    margin-right: auto;
    margin-top: rem(2px);
}

.logo__img {
    
}

.header__btns {
    display: flex;
    align-items: center;
    margin-right: 0.1rem;
    padding-bottom: rem(8px);

}

.nav {
    @include tablets() {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    margin-right: rem(13px);
}

.nav__item {
    display: flex;
    align-items: center;
    
    &:last-child {
        &:after {
            display:none;
        }
    }

    &:after {
        content: "";
        display: block;
        width: rem(4px);
        height: rem(4px);
        background: #fff;
        border-radius: 50%;
        margin: 0 rem(15.5px);
    }
}

.nav__link {
    color: #fff;
    font-size: rem(13px);
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;//чтобы исчезли подчеркивания
}

.header__portable {
    display: flex;
    align-items: center;
}

.hero__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.hero__present {
    display:flex;
    align-items: flex-end;
    padding-bottom: rem(93px);
    padding-left: rem(15px);
    @include tablets() {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
        padding-left: 0;
        padding: 0 20%;    
    }
}

.hero__image {
    @include tablets() {
        float: none;
        width: auto;
    }
}

.hero__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    @include tablets() {
        text-align: center;
    }
}

.hero__title {
    padding-left: rem(12px);
}

.hero__desc {
    color: #fff;
    font-size: rem(62px);
    @include lifehack();
    line-height: 1;
    margin-top: rem(10px);
    padding-bottom: rem(69px);
    padding-left: rem(15px);
}

.hero__image-pic {
    max-width: 100%;
}

.arrow-btn {
    display: flex;
    justify-content: center;
    margin-bottom: rem(40px);
    height: rem(15px);
}



.arrow-icon {
    height: 100%;
    width: 100%;
}
