.menu {
    background: url('../img/bg/menu_bg.png') 50% no-repeat;
    background-size: cover;
	position: relative;
	@include tablets() {
		//background-size: 180%
	}

}

.menu__title {
	position: absolute;
	top: rem(82px);
	left: rem(96px);
	@include tablets() {
		top: rem(90px);
		left: rem(25px);
	}
	@include phones() {
		font-size: rem(60px);
		top: rem(55px);
		left: rem(75px);
	}
	@include miniphones() {
		left: rem(35px);
	}
}

.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
 	display: flex;
}

.menu-acco__item {
	height: 100%;

	&.active {
		.menu-acco__trigger-text {
			color: $yellow;
		}
	}
}

.menu-acco__trigger {
	width: rem(80px);
	display: block;
	height: 100%;
	float: left;
	@include cover;
	text-decoration: none;
	position: relative;
	@include tablets() {
		padding-left: rem(10px);
	}
	@include phones() {
		width: rem(90px);
	}
	@include miniphones() {
		width: rem(60px);
	}
}

.menu-acco__trigger-text {
	height: rem(500px);
	width: rem(80px);	
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: rem(150px);
	@include tablets() {
		margin-top: rem(150px);
		padding-top: rem(900px);//padding-top: rem(760px);
		padding-left: rem(10px);//padding-left: 0;
	}
	@include phones() {
		padding-top: rem(600px);
		//padding-left: rem(320px);
	}
	@include miniphones() {
		padding-top: rem(200px);
		margin-left: rem(-20px);
	}
}
.menu-acco__trigger-text>span {
	transform: rotate(-90deg);
	white-space: nowrap;
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	@include tablets() {
		font-size: rem(42px);
	}
	@include phones() {
		font-size: rem(48px);
	}
	@include miniphones() {
		font-size: rem(40px);
	}
}

.menu-acco__content {
	height: 100%;
	float: left;
	background: rgba(#2f3234, .93);
	width: 0;
	overflow: hidden;
}
.menu-acco__content_active {
	width: rem(300px);
	@include phones() {
		width: rem(290px);
	}
	@include miniphones() {
		width: rem(210px);
	}
}

.menu-acco__content_active>.menu-acco__text {
	display: block;
}

.menu-acco__text {
	@include ubuntu(light);
	font-size: rem(14px);
	color: #fff;
	padding: rem(60px) rem(30px);
	width: 100%;
  	line-height: 1.8;
	display: none;
	@include miniphones() {
		padding: rem(20px) rem(10px);
		line-height: 1.6;
	}  
}