.order {
    background: url('../img/bg/order_bg.png') center center no-repeat;
    background-size: cover;
    position: relative;
    display:flex;
    align-items: center;
    .section__title {
        text-align: center;
    }
}
    .order-container {
    height: 81%;
    text-align: center;
    //margin: 0 0;
    display: flex;
    justify-content: flex-start;
}

.form {
    margin-top: rem(50px);
    @include tablets() {
        margin-top: 0;
    }
}

.order-container {
   // padding-bottom: 17%;
}

.form__container {
    display: flex;
    @include tablets() {
        flex-direction: column;
        align-items: center;
    }
}

.form__column {
    width: 50%;
    margin-left: rem(22px);
    &:first-child {
        margin-left: 0;
    }   
    @include phones() {
        width: 100%;
        margin-left: 0;
    } 
}

.form__row {
    
    display: flex;
    &.radio,
    &.check {
        color: #fff;
    }

}
.form__caption {
    font-size: rem(14px);
    @include ubuntu(light);
    color: #fff;
    margin-top: rem(18px);
    flex: 1;
    text-align: left;
    padding-left: rem(18px);
    &:first-child {
        padding-left: 0;
        padding-bottom: rem(7.5px);
        margin-top: rem(12px);
    }
    &:nth-child(2) {
        margin-top: rem(12px);
    }

}

.form__input {
    font-size: rem(14px);
    padding: rem(8.5px);
    //padding: rem (5px) rem(10px);
    background: #fff;
    border-radius: rem(5px);
    border: rem(1px) solid #d1cfcb;
    width: 100%;    //ПОЧЕМУ??!
    margin-left: rem(19px);

    &:first-child {
        margin-left: 0;
    }
}

.form__textarea {
    height: rem(108px);
    resize: none;
    margin-bottom: rem(20px);
}

.radio {
    //margin-top: rem(5px);
}

.radio__text {
    font-size: rem(14px);
    margin-left: rem(10px);
    margin-right: rem(25px);
    margin-bottom: rem(23px);
}

.check {
    
    margin-bottom: rem(15px);
}
.check__text {
    font-size: rem(14px);
    margin-left: rem(10px);
}

.form__btn {
  margin-right: rem(20px);
  border: 0;
  background: $red;
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: rem(5px);
  color: #ffffff;
  @include ubuntu(middle);
  padding: rem(10px) rem(15px);
  cursor: pointer;

  @include phones() {
    margin: 0 auto;
  }
}

.form__btn_clear {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}
