.reviews {
    background: #000;
}

.reviews__list {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: none; 
    position: relative;
    filter: grayscale(100%);

    @include tablets() {
        width: 50%;
        height: 25%;
    }

    &:hover {
        .reviews__hover {
            opacity: 1;
            transform: scale(1);
            transition: .3s;
        }
    }
}

.reviews__hover {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(.7);

    @include tablets {
    font-size: rem(14px);
    padding: 0 12%;
    text-align: center;
  }

}

.reviews__hover-content {

    width: 85%;
    height: 72%;
}

.reviews__title {
    color: #fff;
    @include gagalin;
    font-size: rem(14px);
    padding-bottom: rem(19px);       
    @include tablets {
  }
}

.reviews__text {
    padding-bottom: rem(12px);
    color: #fff;
    font-size: rem(14px);
    line-height: 1.75;
    @include ubuntu(light);
    @include phones() {
        display: none;
    }
}

