.team {
    background: url('../img/bg/team_bg.png') center center no-repeat;
    background-size: cover;
    position: relative;
}

.team__section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 49%;
    background: rgba($black, .93); 
    //возвращает цвет с заданной прозрачностью
    display: flex;
    align-items: flex-start;
    justify-content: center;
    @include tablets() {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}

.team__content {
    padding-top: 11%;
    width: 70%;
    @include tablets() {
        padding: 0;
        width: 100%;
        text-align: center;
    }
}

.team-acco {
    margin-top: rem(64px);
    @include tablets() {
        display:flex;
        flex-direction: column;
        align-items: center;
     //   text-align: center;
        
    }
  }

.team-acco__item {
    margin-bottom: rem(10px);
    
    &:active {
        .team-acco__content{
            height: auto;
            padding-left: rem(15px);
            margin-bottom: rem(36px);
        }
        .team-acco__title {
            color: $yellow;
            margin-bottom: rem(14px);        
            &:before {
                transform: rotate(180deg);
            }
        }
        .team-acco__desc {
            padding-left: rem(21px);
        }
        .team-acco__desc-prof {
            color: #fff;
            @include ubuntu(bold);
            font-size: rem(14px);
            margin-bottom: rem(10px);     
        }
        .team-acco__desc-text {
            margin-top: rem(11px);
            line-height:1.8;
            color: #fff;
            font-size:rem(14px);
        }
    }
    @include tablets() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.team-acco__content {
    display: flex;
    overflow: hidden;
    height: 0;
    @include tablets() {
        flex-direction: column;
        align-items: center;
    }
}


.team-acco__title {
    @include gagalin();
    font-size: rem(14px);
    color: #fff;
    margin-bottom: rem(20px);
    display: flex;
    align-items: center;
    @include tablets() {
        font-size: rem(25px);
        
    }
    
    &:before {
        content: "";
        width: 0;
        height: 0;
        border: rem(4px) solid transparent;
        border-top-color: $yellow;
        border-bottom: none;
        margin-right: rem(10px);
    }
}


.team-acco__desc-text{
 
}

.team-acco__avatar {
    width: rem(100px);
    height: rem(100px);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.team-acco__avatar-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
