.team {
    background: url('../img/bg/team_bg.png') center center no-repeat;
    background-size: cover;
    position: relative;
}

.team__section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 49%;
    background: rgba($black, .93); 
    //возвращает цвет с заданной прозрачностью
    display: flex;
    align-items: flex-start;
    justify-content: center;
    @include tablets() {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    @include miniphones() {
        justify-content: flex-start;
    }
}

.team__content {
    padding-top: 11%;
    width: 70%;
    @include tablets() {
        margin-top: rem(35px);
        margin-left: rem(20px);
        padding: 0;
        height: 85%;
        width: 50%;
        text-align: center;
    }
    @include phones() {
        margin: 0;
        margin-left: rem(20px);
        margin-bottom: rem(20px);
    }
    @include miniphones() {
       margin: 0; 
    }
}
.team__content>.section-title {
    @include phones {
        font-size: rem(60px);
    }
}

.team-acco {
    margin-top: rem(64px);
    @include tablets() {
        margin-top: rem(115px);
        margin-left: rem(100px);
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    @include phones() {
        margin-top: rem(95px);
        margin-left: rem(25px);
    };
    @include miniphones() {
        margin-top: rem(20px);
    }
  }

.team-acco__item {
    margin-bottom: rem(10px);
    @include miniphones() {
        font-size: rem(20px);
    }
}  
.team-acco__item_active {
        .team-acco__content{
            height: auto;
            padding-left: rem(15px);
            margin-bottom: rem(36px);
            @include tablets() {
                padding-left: 0;
                margin-top: rem(15px);
                margin-bottom: rem(20px);
                margin-right: rem(110px);
            }
            @include phones() {
                margin-left: rem(90px);
            }
            @include miniphones() {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .team-acco__title {
            color: $yellow;
            margin-bottom: rem(14px);        
            &:before {
                transform: rotate(180deg);
            }
        @include tablets() {
            margin-left: rem(110px);
        }
        @include phones() {
            margin-left: rem(200px);
        }
        @include miniphones() {
            margin-bottom: 0;
        }
        }
        .team-acco__desc {
            padding-left: rem(21px);
        }
        .team-acco__desc-prof {
            color: #fff;
            @include ubuntu(bold);
            font-size: rem(14px);
            margin-bottom: rem(10px);
            @include tablets() {
                margin-top: rem(25px);
                margin-right: rem(20px)
            }
            @include phones() {
                font-size: rem(16px);
            }
            @include miniphones() {
                margin-top: rem(5px);
                margin-bottom: 0;   
            }
        }
        .team-acco__desc-text {
            margin-top: rem(11px);
            line-height:1.8;
            color: #fff;
            font-size:rem(14px);
            @include tablets() {
                font-size: rem(15px);
                width: rem(400px);
            }
            @include phones() {
                margin-top: rem(17px);
                padding-right: rem(25px);
                width: rem(430px);
                font-size: rem(17px);
            }
            @include miniphones() {
                width: rem(350px);
                margin-top: rem(5px);
            }
        }
    }
    @include tablets() {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



.team-acco__content {
    display: flex;
    overflow: hidden;
    height: 0;
    @include tablets() {
        flex-direction: column;
        align-items: center;
    }
}


.team-acco__title {
    @include gagalin();
    font-size: rem(14px);
    color: #fff;
    margin-bottom: rem(20px);
    display: flex;
    align-items: center;
    @include tablets() {
        font-size: rem(25px); 
    }
    @include phones() {
        font-size: rem(30px); 
    }
    &:before {
        content: "";
        width: 0;
        height: 0;
        border: rem(4px) solid transparent;
        border-top-color: $yellow;
        border-bottom: none;
        margin-right: rem(10px);
    }
}


.team-acco__desc-text{
 
}

.team-acco__avatar {
    width: rem(100px);
    height: rem(100px);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    @include phones() {
        width: rem(120px);
        height: rem(120px);
    }
}

.team-acco__avatar-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
